
    body {
      margin: 0;
      padding: 0;
      background: #0b132b;
      font-family: 'Courier New', monospace;
      color: #00ffcc;
      overflow: hidden;
    }

    .container_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 40px;
      gap: 40px;
    }

    .container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
    gap: 10px;
    }

    .panel {
      border: 2px solid #00ffcc;
      padding: 20px;
      background: #00ffcc0d;
      box-shadow: 0 0 10px #00ffcc;
    }

    .typing {
      white-space: pre-wrap;
      text-wrap: nowrap;
      overflow: hidden;
      border-right: 2px solid #00ffcc;  
      animation: typing 4s steps(100, end), blink .75s step-end infinite;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink {
      from, to { border-color: transparent }
      50% { border-color: #00ffcc }
    }

    .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #00ff00;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: screen;
    transition: transform 0.05s ease;
  }

  .diamond {
    transform: rotate(45deg);
    border-radius: 0;
  }
